* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .frame {
    width: 800px;
    height: 480px;
    background: rgba(97,107,195,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .logo {
    width: 479px;
    height: 291px;
    background: url("../image/GSM.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.15000000596046448;
    position: absolute;
    top: 95px;
    left: 160px;
    overflow: hidden;
  }
  .title {
    width: 405px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 62px;
    left: 51px;
    font-family: Pretendard;
    font-weight: Bold;
    font-size: 70px;
    opacity: 1;
    text-align: left;
  }
  .button_1 {
    width: 699px;
    height: 80px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 334px;
    left: 51px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .MENU {
    width: 103px;
    color: rgba(98,108,195,1);
    position: absolute;
    top: 349px;
    left: 348px;
    font-family: Pretendard;
    font-weight: Medium;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }