@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}
.frame {
    width: 800px;
    height: 480px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.title {
    width: 70px;
    color: rgba(98,108,195,1);
    position: absolute;
    top: 17px;
    left: 365px;
    font-family: Pretendard;
    font-weight: Bold;
    font-size: 35px;
    opacity: 1;
    text-align: left;
}
.title_Line {
  width: 800px;
  height: 5px;
  background: rgba(98,108,195,1);
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 0px;
  overflow: hidden;
}
.choose1 {
  width: 145px;
  height: 200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 68px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.snack1 {
  width: 100px;
  height: 166px;
  background: url("../image/치킨팝.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 90px;
  border: 0px solid rgba(0,0,0,1);
  overflow: hidden;
}
.choose2 {
  width: 145px;
  height: 200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 327px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.choose3 {
  width: 145px;
  height: 200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 586px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.snack2 {
  width: 100px;
  height: 166px;
  background: url("../image/치킨팝.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 349px;
  border: 0px solid rgba(0,0,0,1);
  overflow: hidden;
}
.snack3 {
  width: 100px;
  height: 166px;
  background: url("../image/치킨팝.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 608px;
  border: 0px solid rgba(0,0,0,1);
  overflow: hidden;
}
.back {
    width: 57px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 50px;
    left: 106px;
    font-family: Noto Sans KR;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.back_button {
    width: 128px;
    height: 50px;
    background: rgba(0,124,190,1);
    opacity: 1;
    position: absolute;
    top: 42px;
    left: 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
  }
  .modal_background {
    width: 650px;
    height: 350px;
    background: rgba(213,230,233,1);
    opacity: 1;
    position: absolute;
    top: 65px;
    left: 75px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .modal_close {
    width: 21px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 93px;
    left: 664px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .modal_frame
  {
    display: none;
  }